@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "roboto-condensed";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto-condensed/roboto-condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-condensed/roboto-condensed.woff") format("woff"), url("../fonts/roboto-condensed/roboto-condensed.ttf") format("truetype"); }

@font-face {
  font-family: "open-sans-cond-light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/open-sans-cond-light/open-sans-cond-light.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-Semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype"); }
