@import url(../libs/font-awesome/css/font-awesome.min.css);
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "RobotoRegular", sans-serif;
  overflow-x: hidden;
  background-color: #fff; }

a, button, input, textarea {
  text-decoration: none;
  outline: 0;
  border: 0;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease; }
  a:focus, button:focus, input:focus, textarea:focus {
    outline: 0;
    border: 0; }

button:hover {
  cursor: pointer; }

.hidden {
  display: none; }

.bg-wrap {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; }

header {
  font-family: open-sans-cond-light;
  background-position: center top;
  color: #fff;
  font-size: 16px;
  position: relative;
  z-index: 69; }

.logo {
  margin-left: 68px;
  margin-top: 14px; }

.world-record {
  margin-top: 25px;
  margin-left: 170px; }
  .world-record p {
    text-transform: uppercase;
    font-size: 16px;
    position: relative; }
    .world-record p:after {
      position: absolute;
      left: -28px;
      top: 5px;
      content: '';
      width: 15px;
      height: 15px;
      background-image: url("../img/record.png"); }

.height {
  margin-top: 24px;
  margin-left: 130px;
  text-align: center; }
  .height p {
    text-transform: uppercase; }
  .height ul {
    display: inline-block;
    margin-top: 16px; }
    .height ul li {
      float: left;
      margin: 0 10px; }
      .height ul li p {
        padding: 10px;
        font-size: 20px;
        font-family: roboto-condensed;
        line-height: 10px;
        border: 3px solid rgba(0, 0, 0, 0.4);
        background-color: rgba(89, 142, 190, 0.5);
        text-shadow: 1px 1px 10px white; }
      .height ul li tt {
        font-size: 20px; }

.language {
  margin: 24px 15px; }

.entry {
  margin-top: 24px;
  margin-left: 50px;
  margin-right: 110px; }
  .entry img {
    display: inline-block;
    margin: 0 10px; }
  .entry a {
    font-size: 17px;
    color: #afbdd4; }

.top-menu {
  margin-top: 24px; }
  .top-menu ul li {
    float: left;
    margin: 0 12px; }
    .top-menu ul li img {
      display: inline-block;
      vertical-align: top;
      margin-right: 8px; }
    .top-menu ul li a {
      text-transform: uppercase;
      font-size: 20px;
      color: #fff; }

.christmas-tree {
  position: relative;
  text-align: center; }
  .christmas-tree .tree {
    margin-top: -130px;
    display: inline-block;
    position: relative;
    max-width: 735px; }
    .christmas-tree .tree .Toys {
      position: absolute;
      left: 50%;
      margin-left: -314px;
      top: 75px; }

.navigation-search {
  position: absolute;
  top: 500px;
  right: 320px; }
  .navigation-search .navigation .height-tree {
    float: left; }
    .navigation-search .navigation .height-tree img {
      float: left; }
    .navigation-search .navigation .height-tree ul {
      float: left;
      margin-top: -15px;
      margin-left: 13px; }
      .navigation-search .navigation .height-tree ul li {
        margin: 17px 0;
        color: black;
        font-family: open-sans-cond-light;
        font-size: 15px; }
        .navigation-search .navigation .height-tree ul li:first-child {
          margin-top: 5px; }
  .navigation-search .arrow-shape {
    float: left;
    width: 3px;
    height: 194px;
    position: relative;
    background-color: #5d5d5d;
    margin-top: -10px;
    margin-left: 19px; }
    .navigation-search .arrow-shape .arrow-height {
      position: absolute;
      left: -13px;
      top: 81px;
      background-image: url("../img/play.png");
      width: 16px;
      height: 19px; }
  .navigation-search .buttons-nav {
    float: left;
    margin-top: 53px;
    margin-left: 12px; }
    .navigation-search .buttons-nav a {
      width: 37px;
      height: 40px;
      display: block;
      background-color: #eaeaeb;
      margin-bottom: 3px;
      -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
      background-position: center;
      background-repeat: no-repeat; }
      .navigation-search .buttons-nav a:hover {
        background-color: #fff; }
      .navigation-search .buttons-nav a:first-child {
        background-image: url("../img/play-1.png"); }
      .navigation-search .buttons-nav a:last-child {
        background-image: url("../img/play-2.png"); }

.search {
  height: 30px;
  width: 208px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 29px;
  border: 1px solid #d7d9da;
  -webkit-box-shadow: 1px 1px 10px #c6daec;
  box-shadow: 1px 1px 10px #c6daec; }

.menu-search {
  text-align: left;
  padding-left: 11px;
  padding-top: 8px;
  float: left;
  width: 10%; }
  .menu-search ul li a {
    display: inline-block; }
    .menu-search ul li a span {
      width: 16px;
      height: 3px;
      background-color: #ccdfeb;
      display: block;
      margin: 3px 0; }
      .menu-search ul li a span:first-child {
        margin-top: 0; }
  .menu-search .in-search {
    display: none; }

.search-name {
  float: left;
  padding-left: 8px;
  position: relative;
  width: 90%; }
  .search-name input {
    width: 100%;
    height: 34px;
    background-color: transparent;
    padding-left: 8px;
    margin-top: -5px; }
    .search-name input::-webkit-input-placeholder {
      color: #7a868e;
      font-size: 12px;
      font-family: OpenSans-Semibold; }
    .search-name input::-moz-placeholder {
      color: #7a868e;
      font-size: 12px;
      font-family: OpenSans-Semibold; }
    .search-name input:-moz-placeholder {
      color: #7a868e;
      font-size: 12px;
      font-family: OpenSans-Semibold; }
    .search-name input:-ms-input-placeholder {
      color: #7a868e;
      font-size: 12px;
      font-family: OpenSans-Semibold; }
  .search-name .button-s {
    position: absolute;
    right: -2px;
    top: -1px;
    border: 1px solid #97b8ce;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0; }
    .search-name .button-s a {
      display: block;
      width: 34px;
      height: 27px;
      background-color: #eff7fc; }
      .search-name .button-s a i {
        color: #496d8c; }
