*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.about-all {
  margin-top: 50px; }

.ab-1 {
  background-color: #fff !important; }
  .ab-1 p {
    padding-bottom: 20px; }
  .ab-1 .bottom-ab-1 {
    padding-top: 20px; }
    .ab-1 .bottom-ab-1 p {
      padding: 7px 0;
      letter-spacing: 0.1px;
      font-family: roboto-light; }
  .ab-1 ul li i {
    padding-right: 4px; }

.all-ab {
  margin: 7.5px 0;
  padding: 20px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8); }
  .all-ab h2 {
    font-size: 15px;
    text-transform: uppercase; }
  .all-ab p {
    padding-top: 10px;
    font-size: 15px; }
  .all-ab h3 {
    font-size: 15px; }
  .all-ab span {
    font-family: roboto-light; }

.bt-border {
  border-top: 1px dotted #000;
  border-bottom: 1px dotted #000;
  padding: 15px 0; }

.ab-2 ul li {
  float: left;
  width: 135px;
  margin: 5px 0; }

.ab-3 {
  height: 689px; }
  .ab-3 ul li {
    margin: 7.5px 0; }
    .ab-3 ul li i {
      margin-right: 5px; }
  .ab-3 .bottom-ab-3 {
    margin-top: 15px; }
  .ab-3 .bt-border span {
    font-family: roboto-light-italic; }
  .ab-3 .bt-border i {
    font-size: 105px;
    color: #d5d5d5;
    float: left;
    margin-right: 14px;
    height: 120px;
    margin-top: 20px; }

.faq {
  margin-top: 130px; }

.faq-menu ul li {
  margin: 8.5px 0;
  clear: both; }
  .faq-menu ul li .circle-faq {
    display: inline-block;
    vertical-align: top; }
  .faq-menu ul li a {
    display: inline-block;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    width: 80%;
    font-size: 20px;
    padding: 29px 0;
    margin-left: 5px;
    position: relative; }
    .faq-menu ul li a:before {
      position: absolute;
      content: '';
      left: -22px;
      top: 0;
      background-image: url("../img/left-a.png");
      width: 22px;
      height: 90px; }
    .faq-menu ul li a:hover {
      background-color: rgba(255, 255, 255, 0.8);
      text-decoration: none; }
      .faq-menu ul li a:hover:before {
        background-image: url("../img/left-h.png"); }

.circle-faq {
  width: 90px;
  height: 90px;
  text-align: center; }
  .circle-faq img {
    width: 100%; }

.right-faq {
  background-color: rgba(239, 249, 255, 0.7);
  padding: 20px; }
  .right-faq h2 {
    margin-top: 13px;
    text-transform: uppercase;
    font-size: 15px; }
  .right-faq p {
    font-size: 15px;
    font-family: roboto-light; }
  .right-faq li {
    float: left;
    margin: 15px 14px; }
    .right-faq li:nth-child(6n) {
      margin-left: 0; }
    .right-faq li:nth-child(6n+1) {
      margin-left: 0; }

.bg-wrap-in {
  background-image: url("../img/bg1.jpg"); }

.card-slider {
  margin-top: 220px; }

.left-s {
  width: 710px;
  float: left; }

.right-s {
  width: 470px;
  float: left; }

.img-left-s {
  border: 5px solid #d9dbdd;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.buttons-left-s ul li {
  float: left;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 40px 11.5px; }
  .buttons-left-s ul li:first-child {
    margin-left: 0; }
  .buttons-left-s ul li:last-child {
    margin-right: 0; }
  .buttons-left-s ul li a {
    color: #e2e2e2;
    font-size: 14px;
    font-family: OpenSans-Bold;
    border: 1px solid #ececed;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    padding: 10.5px 0;
    display: block; }

.buttons-left-s .download a {
  padding: 10.5px 21.5px;
  background-color: #fff; }
  .buttons-left-s .download a:hover {
    text-decoration: none; }

.buttons-left-s .download i {
  border-right: 1px solid #e4e4e4;
  padding: 0 17px 0 0;
  margin-right: 14px;
  font-size: 18px; }

.buttons-left-s .social {
  background-color: #fff;
  -webkit-border-radius: 7px;
  border-radius: 7px; }
  .buttons-left-s .social ul li {
    margin: 0; }
    .buttons-left-s .social ul li:last-child i {
      border: none; }
    .buttons-left-s .social ul li a {
      border: none;
      padding: 5px 0; }
    .buttons-left-s .social ul li i {
      padding: 0 13px;
      font-size: 26.15px;
      border-right: 1px dashed #000; }

.buttons-left-s .submit-s {
  background: -webkit-gradient(linear, left bottom, left top, from(#e1eff9), to(#fff));
  background: -webkit-linear-gradient(bottom, #e1eff9, #fff);
  background: linear-gradient(to top, #e1eff9, #fff);
  border: 1px solid #9bbbd0;
  color: #577b99;
  font-size: 14px;
  font-family: OpenSans-Bold;
  padding: 0px 16px; }
  .buttons-left-s .submit-s:hover {
    text-decoration: none; }
  .buttons-left-s .submit-s i {
    border-right: 1px solid #dfe9f0;
    padding: 12px 13px 12px 0; }

.items-left {
  height: 40px;
  width: 125px;
  border: 1px solid #dfe0e0;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: #fff;
  color: #7fb3d3; }
  .items-left p {
    font-family: roboto-condensed;
    font-size: 14px;
    line-height: 16px;
    padding-left: 8px;
    padding-top: 6px; }
  .items-left * {
    display: inline-block;
    vertical-align: top; }
  .items-left .box-left {
    border: 1px solid #7fb3d3;
    width: 37px;
    height: 31px;
    margin-top: 5px;
    margin-left: 14px;
    text-align: center; }

.cards-f {
  position: relative;
  margin-left: 20px; }
  .cards-f .cho-card li {
    float: left;
    margin: 4.5px; }
    .cards-f .cho-card li a {
      display: block;
      max-width: 140px;
      height: 132px;
      position: relative;
      -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8); }
      .cards-f .cho-card li a:after {
        position: absolute;
        content: '';
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5); }
      .cards-f .cho-card li a:hover:after {
        display: none; }
      .cards-f .cho-card li a img {
        width: 100%;
        height: 132px; }

.up-choice {
  position: absolute;
  right: 5px;
  top: -175px; }
  .up-choice .pos-up-c {
    position: relative; }
    .up-choice .pos-up-c a {
      display: block;
      font-size: 14px;
      color: #577b99;
      font-family: OpenSans-Bold;
      background: -webkit-gradient(linear, left bottom, left top, from(#e1f0f9), to(#fff));
      background: -webkit-linear-gradient(bottom, #e1f0f9, #fff);
      background: linear-gradient(to top, #e1f0f9, #fff);
      border: 1px solid #8eb2c9;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      padding: 8px 16.5px; }

.text-choice {
  max-width: 144px;
  padding: 10px 6px;
  background-color: rgba(0, 0, 0, 0.45);
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative; }
  .text-choice:after {
    position: absolute;
    left: 50%;
    bottom: -5px;
    content: '';
    margin-left: -7px;
    background-image: url("../img/arrow-text.png");
    width: 14px;
    height: 5px; }
  .text-choice p {
    font-size: 14px;
    color: #fff;
    font-family: open-sans-cond-light;
    letter-spacing: -0.1px; }

.language-card {
  text-align: right;
  margin-top: 15px;
  margin-right: 5px; }
  .language-card p {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    font-size: 14px;
    font-family: roboto-light;
    color: #567490; }
  .language-card ul {
    display: inline-block;
    vertical-align: top; }
    .language-card ul li:hover .second-language {
      display: block; }
  .language-card a {
    display: block;
    font-size: 14px;
    font-family: roboto-bold;
    color: #567490; }
    .language-card a:hover {
      color: #8da3b6;
      text-decoration: none; }
    .language-card a i {
      font-size: 14px;
      margin-left: 6px; }
  .language-card .second-language {
    display: none;
    max-width: 102px;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    text-align: center; }
    .language-card .second-language a {
      font-size: 14px;
      font-family: open-sans-cond-light;
      padding: 5.5px 0;
      line-height: 14px;
      color: #567490; }
      .language-card .second-language a:hover {
        background-color: #e3f1fa;
        text-decoration: none; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1715px) {
  .logo {
    margin-left: 5px; }
  .world-record {
    margin-left: 80px; }
  .height {
    margin-left: 60px; }
  .entry {
    margin-right: 40px; }
  .navigation-search {
    right: 190px; } }

@media only screen and (max-width: 1500px) {
  .language {
    margin-right: 0; }
  .entry {
    margin-left: 20px; } }

@media only screen and (max-width: 1405px) {
  .world-record {
    margin-left: 40px; }
  .height {
    margin-left: 0px; } }

@media only screen and (max-width: 1360px) {
  .top-menu ul li {
    margin: 0 5px; }
  .navigation-search {
    right: 50px; } }

@media only screen and (max-width: 1300px) {
  .christmas-tree .tree {
    margin-top: 0; } }

@media only screen and (max-width: 1169px) {
  .logo {
    float: none !important;
    display: block;
    text-align: center; }
  .world-record {
    float: none !important;
    display: block;
    text-align: center; }
    .world-record p {
      display: inline-block; }
  .height {
    float: none !important;
    display: block; }
  .top-menu {
    display: block;
    float: none !important;
    text-align: center; }
    .top-menu ul {
      display: inline-block; }
  .enter-for {
    display: inline-block;
    float: none; }
    .enter-for .entry {
      float: left !important; }
      .enter-for .entry a {
        color: #fff; }
    .enter-for .language {
      float: left !important; }
  header {
    text-align: center; } }

@media only screen and (max-width: 1154px) {
  .ab-3 {
    height: auto; } }

@media only screen and (max-width: 1049px) {
  .faq-menu ul li a {
    width: 79%; } }

@media only screen and (max-width: 1002px) {
  .faq-menu ul li a {
    width: 78%; } }

@media only screen and (max-width: 1000px) {
  .navigation-search {
    right: 10px; } }

@media only screen and (max-width: 991px) {
  .navigation-search {
    position: relative;
    right: auto;
    top: auto;
    margin-top: 25px;
    text-align: center; }
    .navigation-search .navigation {
      display: inline-block; }
    .navigation-search .search {
      margin: 0 auto; }
  .faq-menu {
    text-align: center; }
    .faq-menu ul {
      display: inline-block; }
      .faq-menu ul li .circle-faq {
        float: left; }
      .faq-menu ul li a {
        float: left;
        width: 350px; } }

@media only screen and (max-width: 750px) {
  .christmas-tree .tree img {
    width: 100%; }
  .christmas-tree .Toys img {
    width: 95%; } }

@media only screen and (max-width: 680px) {
  .christmas-tree .Toys img {
    width: 92%; } }

@media only screen and (max-width: 670px) {
  .christmas-tree .Toys img {
    width: 90%; } }

@media only screen and (max-width: 640px) {
  .christmas-tree .Toys img {
    width: 86%; } }

@media only screen and (max-width: 620px) {
  .christmas-tree .Toys img {
    width: 84%; } }

@media only screen and (max-width: 600px) {
  .christmas-tree .Toys img {
    width: 81%; } }

@media only screen and (max-width: 580px) {
  .christmas-tree .Toys img {
    width: 78%; } }

@media only screen and (max-width: 560px) {
  .christmas-tree .Toys img {
    width: 75%; } }

@media only screen and (max-width: 540px) {
  .christmas-tree .Toys img {
    width: 72%; } }

@media only screen and (max-width: 520px) {
  .christmas-tree .Toys img {
    width: 70%; } }

@media only screen and (max-width: 500px) {
  .christmas-tree .Toys img {
    width: 74%; }
  .christmas-tree .tree .Toys {
    margin-left: -270px; } }

@media only screen and (max-width: 480px) {
  .christmas-tree .Toys img {
    width: 72%; }
  .christmas-tree .tree .Toys {
    margin-left: -265px; } }

@media only screen and (max-width: 474px) {
  .faq-menu ul li a {
    width: 270px; } }

@media only screen and (max-width: 460px) {
  .christmas-tree .tree .Toys {
    margin-left: -255px; } }

@media only screen and (max-width: 446px) {
  .top-menu ul li {
    float: none;
    margin: 10px 0; } }

@media only screen and (max-width: 394px) {
  .faq-menu ul li a {
    width: 230px;
    font-size: 17px;
    padding: 31.5px 0; } }

/* ============================ form css =========================== */
#modal_callback_ok h3, #modal_callback_ok h4 {
  font: 30px RobotoRegular,Arial,sans-serif;
  text-align: center; }

#modal_callback_ok h4 {
  font-weight: 700; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  display: block;
  right: 18px;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.mess_error {
  position: absolute;
  z-index: 10;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  padding: 5px 10px;
  opacity: 1;
  left: 0;
  top: 60px;
  width: 97%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #FF6565; }

.tooltip-inner {
  padding: 3px 8px;
  color: #FFF;
  text-align: center;
  background-color: #FF6565;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px; }

.field {
  position: relative;
  float: left; }

.section8 .tooltip-arrow {
  border-bottom-color: #000; }

.section8 .tooltip-inner {
  background-color: #000; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

/* ============================ form css media =========================== */
@media only screen and (max-width: 992px) {
  .allert, .allert_tell {
    top: 0; }
  .field {
    float: none; }
  .mess_error {
    position: relative;
    width: 215px;
    margin: 0 auto;
    top: 0;
    margin-bottom: 15px; } }

@media only screen and (max-width: 320px) {
  #modal_callback_ok {
    height: 200px; }
  .fancybox-inner {
    width: auto !important; }
  .fancybox-close {
    top: 0 !important;
    right: 0 !important; } }
